<style>
    input[type=checkbox] {
        -moz-appearance:none;
        -webkit-appearance:none;
        -o-appearance:none;
        outline: none;
        content: none;	

    }

    input[type=checkbox]:before {
        content: "\f00c";
        font-size: 15px;
        color: transparent !important;
        background: #fef2e0;
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        margin-right: 7px;
        background-color: gray;

    }

    input[type=checkbox]:checked:before {
      
        background-color: green;

    }
    
    .checkBoxChairsClass1:before {
      
        background-color: red !important;

    }

    .seats {
        text-align: center;
        width: 750px;
    }


