<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieTheatreWebsite</title>
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieTheatreWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Keyboard -->
    <link rel="stylesheet" href="~/keyboard/css/keyboard-dark.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieTheatreWebsite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item visually-hidden">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link visually-hidden text-dark" asp-area="" asp-controller="MovieTheatreRooms" asp-action="Index">MovieTheatreRooms</a>
                    </li>
                    <li class="nav-item visually-hidden">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Create">Subscribe for the newsletter</a>
                    </li>
                    <li class="nav-item visually-hidden">
                        <a class="nav-link text-dark" asp-area="" asp-controller="TheatreRooms" asp-action="Index">TheatreRoom</a>
                    </li>
                    <li class="nav-item visually-hidden">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Prices" asp-action="Index">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SurveyQuestions" asp-action="Index">survey questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Surveys" asp-action="Index">Surveys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SurveyUserAnswers" asp-action="Index">SurveysAnswers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SurveyUsers" asp-action="SurveyPageIndex">Rate us!</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>

            </div>
        </div>
        <div>
            <label>RESERVATION CODE:</label>
        </div> 
        <div class="navbar-nav input-group-sm p-lg-3">
                
            <input id="input1" class="form-control"/>
            <div class="input-group-sm">
                <a id="Button1" class="btn btn-dark">
                    <i class="bi bi-search"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="navbar-nav custom-icon-size">
                <li class="nav-item">
                    <a href="https://www.facebook.com/pathenl" class="text-muted">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/pathe/?hl=nl" class="text-muted fa-2x">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/pathe" class="text-muted fa-2x">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<partial name="_PartialViewAdminConsole" />

<div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary">
        <div class="container">
            &copy; 2022 - MovieTheatreWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a href="https://www.facebook.com/pathenl" class="text-muted">
                <i class="bi bi-facebook"></i>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Keyboard -->
    <script src="~/keyboard/js/jquery.keyboard.extension-caret.js"></script>
    <script src="~/keyboard/js/jquery.keyboard.js"></script>
    <script src="~/keyboard/layouts/ms-US-English.js"></script>
    <script src="~/keyboard/js/keyboard.custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $( document ).ready(function() {
            $( "#Button1" ).click(function() {
                window.location = "../Home/ReservationConfirmation?ReservationGuid=" + $("#input1").val();

            });
        });
    </script>
</body>
</html>
