@using MovieTheatreModels.Enums
@using MovieTheatreDatabase
@model MovieTheatreDatabase.Survey

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @foreach (var surveyQuestion in @Model.Questions)
    {
        <div class="form-group">
            <label asp-for="Questions" class="control-label">@surveyQuestion.Text</label>
            <select class="form-control" asp-items="Html.GetEnumSelectList<QuestionOptionEnums>()"> <option>Select type ...</option></select> 
            <span asp-validation-for="@surveyQuestion.Text" class="text-danger"></span>
        </div>
    }
    

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
